<header>
<nav>
  <div class="nav"> 
    <div class="navitem">
      <div class="navitemSpace"></div>
      <a href="/sequencer">Sequencer</a>
      <a href="/">About</a>
      <a onclick="toggleTheme();" style="cursor: pointer;">Switch theme</a>

     </div>
  </div>
  </nav>

</header>