<header>
<nav>
  <div class="nav"> 
    <div class="navitem">
      <div class="navitemSpace"></div>
      <a href="/">Home</a>
      <a href="/projects">Projects</a>
      <a href="/music">Music</a>
      <a href="/sequencer">Sequencer</a>
      <a href="/contact">Contact</a>
     </div>
  </div>
  </nav>

</header>