<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Sequencer</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="/js/webaudio-controls.js"></script>
</head>

<body>


  <%- include('../partials/header.ejs') %>
  <%- body %>

  
  <!-- <script src="../../node_modules/tone/build/Tone.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.8.26/Tone.js"></script>

  <script src="/js/kits.js"></script>
  <script src="/js/synthcontrol.js"></script> 
  <script src="/js/sequencer.js"></script>

</body>

</html>