<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Sequencer</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link id="theme" rel="stylesheet" href="/stylesheets/style.css">
  <script src="/js/webaudio-controls.js"></script>
      <script>
        var currentTheme = "light";
        function toggleTheme() {
          var theme = document.getElementById('theme');
          var themeKnob = document.getElementsByTagName('webaudio-knob');
          // console.log(themeKnob);
          if (theme.getAttribute('href') == '/stylesheets/style.css') {
            currentTheme = "night";
            theme.setAttribute('href', '/stylesheets/styledark.css');
            for (let i = 0; i < themeKnob.length; i++) {
              themeKnob[i].src = '/images/fx-1.png';
            }
          } else {
            currentTheme = "light";
            theme.setAttribute('href', '/stylesheets/style.css');
            for (let i = 0; i < themeKnob.length; i++) {
              themeKnob[i].src = '/images/fx-2.png';
            }
          }
        }
      </script>
</head>

<body>

  <%- include('../partials/header.ejs') %>
    <%- body %>

      <script src="/js/Tone.js"></script>
      <script src="/js/kits.js"></script>
      <script src="/js/synthcontrol.js"></script>
      <script src="/js/sequencer.js"></script>


</body>

</html>