<div class="mydiv">
  <div class="mydivheader">~ Music sequencer project ~</div>
    <div class="contentBox">
    
<div class="contentBox about">
<h3>What is this?</h3>
This project is created for me to learn the Javascript programming language.<br>
The sequencer is made with Tone.js Web Audio framework API and the knobs are webaudio-controls.<br>
Don't rely on the code to be optimized.
It's simply a project made to learn as much of the basics of Javascript, Node.js & MongoDB with Mongoose.
The database is mainly for storing the presets list and interaction with votes.<br>
<br>
<h3>Sources</h3>
All audio samples (WAV) files are made by myself and friends. <br>
<a href="https://soundcloud.com/hellquist">
https://soundcloud.com/hellquist</a><br><br>

Web Audio framework API: <br>
<a href="https://tonejs.github.io/">
  https://tonejs.github.io/</a><br><br>

Knobs: <br>
<a href="https://github.com/g200kg/webaudio-controls">
https://github.com/g200kg/webaudio-controls</a>
<br><br>
      <br /><br />
    </div>


      <br />



      <br /> <br />
</div>
</div>
  <br /> <br />