<div class="mydiv">
  <div class="mydivheader">Home</div>
    <div class="contentBox">
      Welcome to index page.<br /><br />

      <div class="seque" id="seq"></div>


      <br />


  <br /> <br />

</div>
